*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.nav-links h1{
    text-decoration: none;
    text-align: left;
    font-family: monospace;
    left: 2%;
    Top: 2%;
    text-align: center;
    position: absolute;
}

.nav-links h1 a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 20px;
}

.nav-links h1 :hover{
    box-shadow: 0 2px 8px 0 white, 0 2px 8px 0 white;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(26, 28, 36, 0.7), rgba(47, 49, 56, 0.7)), url(KavinWebsitePictures/Naruto-Background.jpg);
    background-position: center;
    background-size: cover; 
    position: relative; 

}

.header2{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(26, 28, 36, 0.7), rgba(47, 49, 56, 0.7)), url(KavinWebsitePictures/OnePiece\ Backround.png);
    background-position: center;
    background-size: cover; 
    position: relative; 

}

.header3{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(26, 28, 36, 0.7), rgba(47, 49, 56, 0.7)), url(KavinWebsitePictures/DragonBallBackround.png);
    background-position: center;
    background-size: cover; 
    position: relative; 

}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: rgb(255, 0, 0);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 100%;
    color: white;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}

.text-box h1{
    font-size: 62px;
    font-family: monospace;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px; 
    color: white;
    font-family: monospace;
}

.KavinPicture img{
    border-radius: 50%;
    position:absolute; 
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}

.text-box button{
    background-color: white;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 30%;
}

.text-box button a{
    text-decoration: none;
    color: black;
    font-family: monospace;
}
.text-box button::after{
    content:'';
    width: 0%;
    height: 2px;
    background: purple;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.text-box button:hover::after{
    width: 100%;
}


.MyProjects{
    text-align: center;
    transform: translate(-4%, 1250%);
}

.MyProjects button{
    border: none;
    color: black;
    padding: 10px 28px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 10%;
    text-decoration: none;
    font-family: monospace;
    
}

.MyProjects button::after{
    content:'';
    width: 0%;
    height: 2px;
    background: purple;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.MyProjects button:hover::after{
    width: 100%;
}

.projectsSection{
    height: 100;
}
.column {
    float: left;
    width: 50%;
}
.row{
    height: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.Projects{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(26, 28, 36, 0), rgba(47, 49, 56, 0)), url(KavinWebsitePictures/peakpx.jpg);
    background-position: center;
    background-size: cover;
    position: relative; 
    
}

.ProjectTitles{
    width: 100%;
    color: black;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}

.ProjectTitles h1{
    font-size: 50px;
    font-family: monospace;
}

.BackToTop{
    text-align: left;
    transform: translate(3%, 1480%);
}

.BackToTop button{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 28px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    border-radius: 0%;
    text-decoration: none;
    font-family: monospace;
    
}  

.BackToTop button::after{
    content:'';
    width: 0%;
    height: 3px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.BackToTop button:hover::after{
    width: 100%;
}

.AboutMeWriting{
    color: white;
    top: 30%;
    left: 30%;
    transform: translate(10%, 10%);
}

.AboutMeWriting h1{
    font-family: monospace;
    font-size: 40px;
}

.AboutMeWriting p{
    font-family: monospace;
    font-size: 15px;
}

.FacePic{
    border-radius: 30%;
    transform: translate(82%, -100%);
    
}

.AboutMeWriting h3{
    font-size: 25px;
    font-family: monospace;
}

.BasketballVid{
    top: 50%;
    left: 50%;
    transform: translate(55%, -350%);
    border-radius: 2%;
}